header
	.header-top
		.container
			.justify-align
				ul.header-top__menu
					li
						a(href='/company/') Про нас
					li
						a(href='/stati/') Статьи
					li
						a(href='/patsientu/') Пациенту
					li
						a(href='/otzyvy/') Отзывы
				a#specialButton.poorvision(href='#') Версия для слабовидящих
	.header-middle
		.container
			.header-middle__wrap.justify-align
				.header-middle__left
					ul.header-social
						li
							a(href='javascript:void(0);')
								img(src='https://primula.su/local/templates/main/img/icon-social-vk.svg', alt='')
						li
							a(href='javascript:void(0);')
								img(src='https://primula.su/local/templates/main/img/icon-social-inst.svg', alt='')
				a.logo(href='/')
					img(src='https://primula.su/local/templates/main/img/logo.png', alt='')
				.header-middle__right
					a.header-phone(href='tel:73912068073') +7 (391) 206-80-73
	.header-bottom
		.container
			.justify-align
				button.burger-menu
					span
					span
					span
				ul.main-menu
					li.drop
						a(href='/uslugi/') Услуги
						i.icon.icon-arrow-down
						ul
							li
								a(href='/uslugi/allergologiya-i-immunologiya.html') Аллергология и иммунология
							li
								a(href='/uslugi/akusherstvo-i-ginekologiya.html') Акушерство и гинекология
							li
								a(href='/uslugi/andrologiya-i-urologiya.html') Андрология и урология
							li
								a(href='/uslugi/gematologiya.html') Гематология
							li
								a(href='/uslugi/dermatologiya-i-venerologiya.html') Дерматология и венерология
							li
								a(href='/uslugi/serdechno-sosudistaya-khirurgiya.html') Сердечно-сосудистая хирургия
							li
								a(href='/uslugi/nevrologiya.html') Неврология
							li
								a(href='/uslugi/onkologiya-i-mammologiya.html') Онкология и маммология
							li
								a(href='/uslugi/oftalmologiya.html') Офтальмология
							li
								a(href='/uslugi/pediatriya.html') Педиатрия
							li
								a(href='/uslugi/protsedurnyy-kabinet.html') Процедурный кабинет
							li
								a(href='/uslugi/terapiya-i-gastroenterologiya.html') Терапия и гастроэнтерология
							li
								a(href='/uslugi/ultrazvukovaya-diagnostika.html') Ультразвуковая диагностика
							li
								a(href='/uslugi/endokrinologiya.html') Эндокринология
					li
						a(href='/prays/') Прайс
					li
						a(href='/raspisanie-priyoma-doktorov/') Расписание
					li
						a(href='/doctors/') Коллектив
					li
						a(href='/kontakty/') Контакты
				a.btn.fancybox(href='#modal-appointment') Записаться на приём

		#modal-appointment.modal.modal-appointment
			.modal-header Запись к специалисту
			.modal-body
				form.modal-form.sendMessageForm2
					.modal-form__item
						label Ваше имя
						input.modal-form__field(type='text', name='name', required='', placeholder='Имя')
					.modal-form__item
						label Ваш телефон
						input.phoneMask.modal-form__field(type='text', name='phone', required='', placeholder='+7 ХХХ ХХХ ХХ-ХХ')
					.modal-form__item
						label Выберите специалиста
						.select-wrap
							select(name='spec')
								option(value='Акушер-гинеколог') Акушер-гинеколог
								option(value='Аллерголог-иммунолог') Аллерголог-иммунолог
								option(value='Андролог-уролог') Андролог-уролог
								option(value='Врач уролог') Врач уролог
								option(value='Врач функциональной диагностики') Врач функциональной диагностики
								option(value='Гематолог') Гематолог
								option(value='Кабинет УЗД') Кабинет УЗД
								option(value='Кардиолог') Кардиолог
								option(value='Онколог') Онколог
								option(value='Сердечно-сосудистый хирург') Сердечно-сосудистый хирург
								option(value='Терапевт.Гастроэнтеролог') Терапевт.Гастроэнтеролог
								option(value='Эндокринолог') Эндокринолог
					.modal-form__item
						label Дата приема
						input.modal-form__field(type='date', value='2020-03-05', min='2020-03-05', name='date', placeholder='12.12.2015')
					.modal-form__item
						label Время приема
						input.modal-form__field(type='text', name='time', placeholder='12:00')
					button.btn Записаться
		#modal-thanks.modal.modal-thanks
			.modal-header Спасибо за обращение
			.modal-body
				p Вам перезвонят через 5 минут
				button.btn(data-fancybox-close='') Хорошо