.doctors {
	padding: 20px 0 0
}

.doctors-item {
	display: flex;
	margin-bottom: 10px
}

.doctors-item__img {
	width: 250px
}

.doctors-item__info {
	width: calc(100% - 250px);
	padding: 30px 0;
	border-top: 1px solid rgba(0, 0, 0, .2)
}

.doctors-item__info h3 {
	margin-bottom: 10px
}

.doctors-item__info h6 {
	margin-bottom: 20px;
	color: #898989
}

.doctors-item:last-child {
	margin-bottom: 20px
}

.doctors-item:last-child .doctors-item__info {
	border-bottom: 1px solid rgba(0, 0, 0, .2)
}

.doctors-item__experience {
	display: inline-block;
	padding: 12px 10px 13px;
	color: #898989;
	border: 1px solid rgba(0, 0, 0, .2)
}

.doctor-top {
	margin-bottom: 45px
}

.doctop-profile__img img {
	max-width: 188px;
	border-radius: 50%
}

.doctor-info h2 {
	position: relative;
	padding: 0 0 15px;
	margin: 0 0 22px;
	font-size: 26px;
	line-height: 30px;
}

.doctor-info h1 {
	margin: 0 0 20px;
	color: #2a2603;
	font-size: 26px;
	line-height: 30px;
}

.doctor-info h2::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 4px;
	width: 57px;
	background: #dca41e
}

.doctor-info .doctors-info__experience {
	font-size: 14px
}

.doctors-slider__wrap>.justify-align {
	margin-bottom: 45px
}

.doctors-slider__wrap>.justify-align h2 {
	font-size: 26px;
	line-height: 30px
}

.doctors-slider__wrap>.btn {
	max-width: 262px;
	display: block;
	margin: 0 auto 60px
}

.doctors-slider {
	margin-bottom: 30px;
	margin-left: -10px;
	margin-right: -10px
}

.doctors-slider__btn {
	position: relative;
	top: 2px;
	display: flex
}

.doctors-slider__btn button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	outline: 0;
	background-color: transparent;
	width: 31px;
	height: 31px;
	border-radius: 50%;
	background: #6d7831
}

.doctors-slider__btn button .icon {
	color: #fff;
	font-size: 12px
}

.doctors-slider__btn button:last-child {
	margin-left: 11px
}

.doctors-slider__item {
	margin-left: 10px;
	margin-right: 10px
}

.doctors-slider__img {
	width: 210px;
	height: 210px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto 30px
}

.doctors-slider__img img {
	margin: 0 auto
}

.doctors-slider__name {
	margin-bottom: 18px;
	font-size: 18px;
	line-height: 21px;
	font-weight: 700;
	text-align: center
}

.doctors-slider__post {
	color: #898989;
	font-size: 16px;
	text-align: center
}


.doctor-list {
	margin-bottom: 50px
}

.doctor-list ul {
	margin-bottom: 20px;
	list-style: none
}

.doctor-list ul li {
	position: relative;
	padding: 0 0 0 20px
}

.doctor-list ul li::before {
	content: '';
	position: absolute;
	left: 0;
	top: 10px;
	width: 4px;
	height: 4px;
	background: #626159;
	border-radius: 50%
}

.doctor-list__hidden {
	display: none
}

.doctor-list__more {
	position: relative;
	display: inline-block;
	padding: 0 20px 0 18px;
	font-size: 16px;
	line-height: 19px
}

.doctor-list__more::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 4px;
	height: 100%;
	background: #dca41e
}

.doctor-list__more::after {
	content: '\e900';
	position: absolute;
	right: 0;
	top: 2px;
	font-size: 10px;
	font-family: icomoon
}

.doctor-list__more.active::after {
	transform: rotate(180deg)
}

.schedule-table tbody tr td.schedule-table__doctor {
	min-width: 320px
}

.schedule-table tbody tr td.schedule-table__doctor span {
	display: inline-block;
	padding-left: 22px;
	vertical-align: middle;
	font-size: 16px;
	font-weight: 700;
	line-height: 19px
}

.schedule-table tbody tr td.schedule-table__doctor img {
	display: inline-block;
	vertical-align: middle
}

.doctor-profile {
	border-radius: 500px 500px 16px 16px;
	background-color: #fff;
	box-shadow: 0px 10px 20px rgba(52, 41, 13, 0.3);
	overflow: hidden;

	.doctor-profile__img {
		padding: 6px;

		img {
			border-radius: 50%;
			width: 100%;
		}
	}

	.doctors-profile__experience {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-top: 20px;

		span {
			&:first-of-type {
				font-size: 14px;
				line-height: 16px;
				color: #626159;
			}

			&:last-of-type {
				font-weight: 900;
				font-size: 60px;
				line-height: 70px;
				color: #dca41e;

				small {
					font-weight: 900;
					font-size: 26px;
					line-height: 28px;
				}
			}
		}
	}

	a.btn {
		margin-top: 20px;
		padding: 20px;
		font-weight: 700;
		font-size: 12px;
		line-height: 12px;
		border-radius: 0;
		width: 100%;
	}
}

.doctor-info {
	padding-top: 0;

	.doctor-info-tags {
		margin: -6px -9px;
		list-style: none;
		display: flex;
		flex-wrap: wrap;

		li {
			margin: 6px 9px;

			a {
				display: inline-block;
				padding: 10px 12px;
				background: #ebf4c4;
				border-radius: 5px;
				font-size: 16px;
				line-height: 1;
				color: #46510c;
			}
		}
	}

	article {
		margin-top: 40px;
		color: #2a2603;

		p {
			font-size: 14px;
		}
	}

	.list-achievements {
		margin-top: 40px;
	}
}


.dropdown {
	box-shadow: 0px 5px 25px rgba(52, 41, 13, 0.1);
	margin-bottom: 20px;

	&:last-of-type {
		margin-bottom: 0;
	}

	.dropdown-wrap {

	}

	.dropdown__header {
		position: relative;
		padding: 20px 95px 20px 15px;
		border: 2px solid transparent;
		border-radius: 5px;
		box-sizing: border-box;
		font-size: 14px;
		box-shadow: 0px 5px 25px rgba(52, 41, 13, 0.1);
		transition: .25s ease-in-out;

		&::before {
			position: absolute;
			top: -2px;
			left: -2px;
			bottom: -2px;
			width: 5px;
			content: "";
			z-index: 1;
			border-radius: 5px 0 0 5px;
			transition: .25s ease-in-out;
		}

		span {
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
			color: #63625a;
			cursor: pointer;

			i {
				position: relative;
				top: -2px;
				margin-left: 5px;
				font-size: 7px;
			}
		}
	}

	.dropdown__body {
		display: none;
	}

	.dropdown__body-wrap {

	}

	&:nth-child(2n-1) {
		.dropdown__header::before {
			background-color: #6d7831;
		}
	}

	&:nth-child(2n) {
		.dropdown__header::before {
			background-color: #dca41e;
		}
	}

	&.opened {
		.dropdown__header {
			box-shadow: 0px 5px 25px rgba(52, 41, 13, 0);

			&::before {
				width: 0;
				opacity: 0;
			}

			span {
				i {
					transform: rotate(180deg);
				}
			}
		}
		&:nth-child(2n-1) {
			.dropdown__header {
				border-color: #6d7831;
			}
		}

		&:nth-child(2n) {
			.dropdown__header {
				border-color: #dca41e;
			}
		}
	}
}

.alternation-list {
	list-style: none;

	li {
		padding: 15px 20px 15px 43px;
		font-size: 16px;
		line-height: 19px;
		color: #626159;
		margin-bottom: 15px;
		position: relative;

		&:last-of-type {
			margin-bottom: 0;
		}

		&:nth-child(2n) {
			border-radius: 5px;
			background-color: #f8f8f8;
		}

		&::before {
			position: absolute;
			top: 21px;
			left: 20px;
			background-color: #dca41e;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			content: ""; 
		}
	}

}

@media only screen and (max-width:991px) {
	.schedule-table tbody tr td.schedule-table__doctor span {
		padding-left: 15px;
		font-size: 12px;
		line-height: 17px
	}

	.schedule-table tbody tr td.schedule-table__doctor {
		min-width: 280px
	}
}


@media only screen and (max-width:768px) {
	.doctor-info {
		margin-top: 40px;
	}

	.doctors-item__img {
		width: 190px
	}

	.doctors-slider__wrap>.justify-align h2 {
		font-size: 22px;
		line-height: 26px
	}

	.schedule-table tbody tr td.schedule-table__doctor {
		width: auto;
		min-width: auto
	}

	.schedule-table__doctor {
		width: auto
	}

	.schedule-table tbody tr td.schedule-table__doctor img {
		display: none
	}

	.schedule-table tbody tr td.schedule-table__doctor span {
		padding: 0
	}
}

@media only screen and (max-width:480px) {
	
	.doctors-item {
		display: block
	}

	.doctors-item__img {
		width: auto;
		margin-bottom: 20px;
		text-align: center
	}

	.doctors-item__info {
		width: auto;
		text-align: center;
		padding: 0 0 30px;
		margin: 0 0 30px;
		border: none;
		border-bottom: 1px solid rgba(0, 0, 0, .2)
	}
	
	.schedule-table tbody tr td.schedule-table__doctor span {
		font-size: 10px;
		line-height: 12px
	}
}