header {
	-webkit-box-shadow: 0 9px 15px rgba(52, 41, 13, .1);
	box-shadow: 0 9px 15px rgba(52, 41, 13, .1)
}

.header-top {
	background: #6d7831;
	padding-top: 6px;
	padding-bottom: 5px;

	&__menu {
		position: relative;
		display: flex;
		left: -15px;
		list-style: none;

		& > li {
			& > a {
				display: block;
				padding: 5px 20px;
				color: #fff;
				border-radius: 15px;

				&.active,
				&:hover {
					background: #869538;
					opacity: 1;
				}
			}

			&.drop {
				position: relative;

				.icon {
					position: absolute;
					right: 12px;
					top: 15px;
					font-size: 9px;
					color: #fff;
				}

				ul {
					display: none;
					min-width: 160px;
					list-style: none;
					position: absolute;
					top: 100%;
					background: #fff;
					border: 1px solid #ccc;
					border-top: 0;
					z-index: 10;

					li {
						&:last-child a {
							border-bottom: 0;
						}

						a {
							display: block;
							padding: 8px 15px;
							font-size: 12px;
							border-bottom: 1px solid #ccc;
						}
					}
				}
			}
		}
	}
}

.header-social {
	list-style: none;
	display: flex;

	li {
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 44px;
			height: 44px;
			border: 2px solid #898989;
			border-radius: 50%;
			font-size: 22px;
			color: #898989;
		}
	}
}


.header-phone {
	position: relative;
	display: inline-block;
	padding-left: 30px;
	font-size: 24px;
	font-weight: 700;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 9px;
		width: 17px;
		height: 15px;
		background: url(../img/phone-ic.svg);
	}

	&__item a {
		color: #fff;
	}
}

.poorvision {
	display: inline-block;
	padding: 0 0 0 30px;
	position: relative;
	color: #fff !important;

	&::before {
		content: '\e90c';
		position: absolute;
		left: 0;
		top: 1px;
		font-size: 20px;
		color: #fff;
		font-family: icomoon;
	}
}

.header-middle {
	padding: 13px 0;

	&__left {
		min-width: 250px;
	}

	.logo {
		width: 100%;
		max-width: 270px;
	}

	&__rigth {
		min-width: 250px;
	}
}

.header-bottom {
	padding-bottom: 17px;
}

.main-menu {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	left: -15px;
	list-style: none;

	& > li {
		margin-right: 23px;
		&:last-child {
			margin-right: 0
		}

		& > a {
			display: block;
			padding: 10px 20px;
			font-size: 18px;
			color: #2a2603;
			border-radius: 25px;

			&.active,
			&:focus,
			&:hover {
				background: #f7f9fa;
				opacity: 1;
				color: #6d7831;
			}
		}

		&.drop {
			position: relative;

			&:focus .icon,
			&:hover .icon {
				color: #2a2603;
			}

			a {
				padding-right: 43px;
			}

			.icon {
				position: absolute;
				right: 20px;
				top: 50%;
				transform: translateY(-50%);
				font-size: 9px;
				-webkit-transition: all .3s;
				-o-transition: all .3s;
				transition: all .3s
			}

			ul {
				display: none;
				min-width: 160px;
				list-style: none;
				position: absolute;
				top: 100%;
				background: #fff;
				border: 1px solid #ccc;
				border-top: 0;
				z-index: 999;

				li {
					&:last-child a {
						border-bottom: 0
					}

					a {
						display: block;
						padding: 8px 15px;
						font-size: 12px;
						border-bottom: 1px solid #ccc;
					}
				}
			}
		}
	}
}

@media only screen and (max-width:1199px) {
	.header-top__menu>li>a {
		font-size: 14px;
	}

	.header-phone {
		font-size: 22px;
	}

	.main-menu>li>a {
		padding: 16px 30px 17px;
		font-size: 16px
	}
}

@media only screen and (max-width:991px) {
	.header-middle__left {
		min-width: 170px;
	}

	.header-middle  a.logo {
		max-width: 250px;
	}

	.header-phone {
		font-size: 20px;
	}

	.header-phone::before {
		top: 7px;
	}

	.header-bottom .btn {
		display: inline-block;
		padding: 9px 30px 11px;
		font-size: 15px;
	}

	.main-menu>li.drop .icon {
		right: 2px
	}

	.main-menu>li>a {
		padding: 16px 18px 17px;
		font-size: 14px
	}
}

@media only screen and (max-width:768px) {
	.poorvision {
		display: none;
	}

	.header-top .justify-align {
		justify-content: center;
	}

	.header-middle {
		padding-bottom: 0;
	}

	.header-bottom {
		position: relative;
		padding: 0 0 10px;
	}
	
	.header-top__menu {
		left: auto;
		width: 100%;
		justify-content: space-between;
	}

	.header-social {
		display: none;
	}

	.header-middle__left {
		min-width: auto;
		display: none;
	}

	.header-middle a.logo {
		max-width: 180px;
	}

	.header-phone {
		padding-left: 25px;
	}

	.main-menu {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		top: -webkit-calc(100% + 1px);
		top: calc(100% + 1px);
		background: #fff;
		z-index: 999
	}

	.main-menu li {
		display: block;
		margin-right: 0;
	}

	.main-menu li.drop .icon {
		width: 25px;
		height: 25px;
		font-size: 15px;
		right: 15px;
		z-index: 10;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.main-menu li.drop .icon:focus,
	.main-menu li.drop .icon:hover {
		color: #000
	}

	.main-menu li.drop ul {
		position: static
	}

	.main-menu li a {
		border-bottom: 1px solid #dca41e;
		font-size: 16px;
		border-radius: 0;
	}
}

@media only screen and (max-width:480px) {
	.header-top__menu>li.drop:last-of-type ul {
		left: auto;
		right: 0;
	}

	.header-top__menu>li>a {
		padding: 5px 10px;
		font-size: 12px;
	}

	.header-top__menu>li.drop .icon {
		right: 5px;
		font-size: 6px;
	}

	.header-middle a.logo {
		max-width: 160px;
	}

	.header-phone {
		padding: 0;
		font-size: 12px;
	}

	.header-phone::before {
		display: none;
	}
}