doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Мякишева Людмила Геннадьевна
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		
		// HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
		// WARNING: Respond.js doesn't work if you view the page via file://
		//if lt IE 9
			script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
			script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
	body
		include includes/header.pug

		.content
			section.inner
				.container
					.inner-wrap.row
						.col-md-8
							.inner-content
								ul.breadcrumbs
									li
										a(href='/') Главная
									li
										a(href='/doctors/') Коллектив
									li Мякишева Людмила Геннадьевна
								.doctor-detail.row
									.col-sm-3
										.doctor-profile
											.doctor-profile__img
												img(src='https://primula.su/img.php/?src=/upload/iblock/598/team_2.jpg&w=188&h=188', alt='')
											.doctors-profile__experience 
												span Стаж
												span
													| 19
													small лет
											a.btn.btn-green(href="javascript:void(0);") Записаться к врачу
									.col-sm-9
										.doctor-info
											h1 Мякишева Людмила Геннадьевна
											ul.doctor-info-tags
												li
													a(href="javascript:void(0);") Директор
												li
													a(href="javascript:void(0);") Главный врач
												li
													a(href="javascript:void(0);") Врач-акушер-гинеколог
												li
													a(href="javascript:void(0);") Врач-УЗД
											article
												p 
													| Диплом - Красноярская государственная медицинская академия. Присуждена квалификация по специальности врач «лечебное дело». г.Красноярск, 2001г.
													br
													br
													| Интернатура - специальность «акушерство и гинекология», Министерство Здравоохранения РФ Московский государственный медико-стоматологический университет МЗМО. г. Москва, 2004г.
												.list-achievements
													.dropdown
														.dropdown-wrap
															.dropdown__header
																| Свидетельства о повышении квалификации врач-УЗД:
																span 
																	| Показать
																	i.fa.fa-chevron-down
															.dropdown__body
																.dropdown__body-wrap
																	ul.alternation-list
																		li Подготовка пациентов к лабораторным методам обследований и правила сбора биологического материала 
																		li Порт - система Селсайт (Celsite) 
																		li Проведение добровольного обследования на антитела к ВИЧ 
													.dropdown
														.dropdown-wrap
															.dropdown__header
																| Свидетельства о повышении квалификации Врач-акушер-гинеколог:
																span 
																	| Показать
																	i.fa.fa-chevron-down
															.dropdown__body
																.dropdown__body-wrap
																	ul.alternation-list
																		li Подготовка пациентов к лабораторным методам обследований и правила сбора биологического материала 
																		li Порт - система Селсайт (Celsite) 
																		li Проведение добровольного обследования на антитела к ВИЧ 
													.dropdown
														.dropdown-wrap
															.dropdown__header
																| Свидетельства о повышении квалификации Врач-акушер-гинеколог:
																span 
																	| Показать
																	i.fa.fa-chevron-down
															.dropdown__body
																.dropdown__body-wrap
																	ul.alternation-list
																		li Подготовка пациентов к лабораторным методам обследований и правила сбора биологического материала 
																		li Порт - система Селсайт (Celsite) 
																		li Проведение добровольного обследования на антитела к ВИЧ 
						.col-md-4
							.sidebar
								h3 Наши услуги
								ul.sidebar-menu
									li
										a(href='/uslugi/141.html')
											span Аллергология и иммунология
									li
										a(href='/uslugi/140.html')
											span Акушерство и гинекология
									li
										a(href='/uslugi/142.html')
											span Андрология и урология
									li
										a(href='/uslugi/143.html')
											span Гематология
									li
										a(href='/uslugi/144.html')
											span Дерматология и венерология
									li
										a(href='/uslugi/145.html')
											span Сердечно-сосудистая хирургия
									li
										a(href='/uslugi/146.html')
											span Неврология
									li
										a(href='/uslugi/147.html')
											span Онкология и маммология
									li
										a(href='/uslugi/148.html')
											span Офтальмология
									li
										a(href='/uslugi/149.html')
											span Педиатрия
									li
										a(href='/uslugi/150.html')
											span Процедурный кабинет
									li
										a(href='/uslugi/151.html')
											span Терапия и гастроэнтерология
									li
										a(href='/uslugi/84.html')
											span Ультразвуковая диагностика
									li
										a(href='/uslugi/83.html')
											span Эндокринология
					.certificate-slider.slider
						.certificate-slider__item
							a.zoom-btn.fancybox(href='/upload/iblock/d5d/sertifikat Myakisheva1.jpg')
								i.zoom-icon
							a.fancybox.certificate-slider__item--img(href='/upload/iblock/d5d/sertifikat Myakisheva1.jpg')
								img(src='https://primula.su/img.php/?src=/upload/iblock/d5d/sertifikat Myakisheva1.jpg&w=213&h=267', alt='')
						.certificate-slider__item
							a.zoom-btn.fancybox(href='/upload/iblock/cbc/sertifikat Myakisheva2_780x552.jpg')
								i.zoom-icon
							a.fancybox.certificate-slider__item--img(href='/upload/iblock/cbc/sertifikat Myakisheva2_780x552.jpg')
								img(src='https://primula.su/img.php/?src=/upload/iblock/cbc/sertifikat Myakisheva2_780x552.jpg&w=213&h=267', alt='')
					section.section.schedule
						h2
							span Расписание работы
						table.schedule-table
							thead
								tr
									td
									td Пн
									td Вт
									td Ср
									td Чт
									td Пт
									td Сб
									td Вс
							tbody
								tr
									td.schedule-table__doctor
										div(style='display: flex;')
											img(src='https://primula.su/img.php/?src=/upload/iblock/598/team_2.jpg&w=67&h=67', alt='')
											span(style='padding-top: 10px;')
												a(href='/doctors/myakisheva-lyudmila-gennadevna.html') Мякишева Людмила Геннадьевна
									td(colspan='1') 17.30-20.30
									td(colspan='1') 12.00-17.00
									td(colspan='1') -
									td(colspan='1') 09.00-13.00
									td(colspan='1') 17.30-20.30
									td(colspan='1') 10.00-14.00
									td(colspan='1') по нечетным 10.00-14.00
						.center-align
							a.fancybox.btn.btn-green(href='#modal-appointment')
								span Записаться онлайн
								i.icon.icon-arrow-next
			.consultation
				.container
					form.form.consultation-form.sendMessageForm(action='#')
						.consultation-form__subtitle
							br
							br
							| Остались вопросы?
						.consultation-form__title
							| Обратитесь на консультацию к специалисту
						.consultation-form__row
							input.form-field(type='text', required='', name='name', placeholder='Имя Фамилия Отчество')
							input.form-field.phoneMask(type='text', required='', name='phone', placeholder='Номер телефона')
							button.btn.btn-green__transparent(type='submit') Отправить
						.form-agreement
							input#agreement(type='checkbox')
							label(for='agreement')
								| согласен с 
								a(href='/politika-konfidentsialnosti/') Пользовательским соглашением
								| об обработке и передачи персональных данных
		footer.footer
			.container
				.footer-content
					.footer-contacts
						.footer-title Частный медицинский центр "ПРИМУЛА"
						.footer-address Красноярск, мкр-н Новая Покровка, ул. Чернышевского 63.
						.footer-phone
							.footer-phone-list
								.header-phone__item
									strong
										a(href='tel:73912068073') +7 (391) 206-80-73
									|  /
									a(href='tel:73912806078')  280-60-78
								.header-phone__item
									a(href='tel:73912806079') +7 (391) 280-60-79
							.footer-phone__title - координатор по лечению варикоза
						a.footer-mail(href='mailto:info@primula.su') info@primula.su
					ul.footer-menu
						li
							a(href='/raspisanie/') Расписание клиники
						li
							a(href='/prays/') Наш прайс
						li
							a(href='/stati/') Статьи
						li
							a(href='/kontakty/') Контакты
						li
							a(href='/ogrn-litsenziya/') ОГРН, Лицензия
						li
							a(href='/nadzornye-organy/') Надзорные органы
						li
							a(href='/ustav/') Устав
						li
							a(href='/otzyvy/') Отзывы
						li
							a(href='/karta-sayta/') Карта сайта
						li
							a(href='/politika-konfidentsialnosti/')
								| Политика
								br
								|  конфиденциальности
						li
							a(href='/pravila-okazaniya-meditsinskikh-uslug/')
								| Правила оказания
								br
								|  медицинских услуг
					a.footer-up(href='javascript:void(0);')
						i.fa.fa-angle-up
				.footer-bottom
					.footer-copyright © 2019 ООО ЧМЦ "Примула"
					.footer-warning
						| Имеются противопоказания.
						br
						|  Необходима консультация специалиста.
					ul.footer-social
						li
							a(href='https://vk.com/public174510274')
								img(src='/local/templates/main/img/icon-social-vk.svg', alt='')
						li
							a(href='https://www.instagram.com/primula24/')
								img(src='/local/templates/main/img/icon-social-inst.svg', alt='')