doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Медицинский центр в Красноярске - "Примула". Многопрофильный, частный медицинский центр
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(type='image/x-icon', rel='shortcut icon', href='/upload/favicon.ico')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    script(src='https://lidrekon.ru/slep/js/jquery.js')
    script(src='https://lidrekon.ru/slep/js/uhpv-full.min.js')
  body
    include includes/header.pug

    .content
      .banner
        .banner-item
          a(href='')
            img(src='https://primula.su/img.php/?src=/upload/iblock/2b6/8-march-banner.jpg&w=1920&h=556', alt='')
            .banner-item__overlay
              .container
                .banner-title
        .banner-item
          a(href='')
            img(src='https://primula.su/img.php/?src=/upload/iblock/587/complex-woman--banner.jpg&w=1920&h=556', alt='')
            .banner-item__overlay
              .container
                .banner-title
        .banner-item
          a(href='/uslugi/andrologiya-i-urologiya.html')
            img(src='https://primula.su/img.php/?src=/upload/iblock/41b/banner-23feb.jpg&w=1920&h=556', alt='')
            .banner-item__overlay
              .container
                .banner-title
      .services
        .container
          .services-wrap.row
            .col-md-4.col-sm-6.col-xs-6
              a.services-item(href='/uslugi/allergologiya-i-immunologiya.html')
                span.services-item__icon
                  i.icon.icon-mainservices3
                span.services-item__text Аллергология и иммунология
            .col-md-4.col-sm-6.col-xs-6
              a.services-item(href='/uslugi/akusherstvo-i-ginekologiya.html')
                span.services-item__icon
                  i.icon.icon-mainservices1
                span.services-item__text Акушерство и гинекология
            .col-md-4.col-sm-6.col-xs-6
              a.services-item(href='/uslugi/andrologiya-i-urologiya.html')
                span.services-item__icon
                  i.icon.icon-mainservices4
                span.services-item__text Андрология и урология
            .col-md-4.col-sm-6.col-xs-6
              a.services-item(href='/uslugi/dermatologiya-i-venerologiya.html')
                span.services-item__icon
                  i.icon.icon-mainservices9
                span.services-item__text Дерматология и венерология
            .col-md-4.col-sm-6.col-xs-6
              a.services-item(href='/uslugi/serdechno-sosudistaya-khirurgiya.html')
                span.services-item__icon
                  i.icon.icon-mainservices5
                span.services-item__text Сердечно-сосудистая хирургия
            .col-md-4.col-sm-6.col-xs-6
              a.services-item(href='/uslugi/nevrologiya.html')
                span.services-item__icon
                  i.icon.icon-mainservices8
                span.services-item__text Неврология
            .col-md-4.col-sm-6.col-xs-6
              a.services-item(href='/uslugi/oftalmologiya.html')
                span.services-item__icon
                  i.icon.icon-mainservices6
                span.services-item__text Офтальмология
            .col-md-4.col-sm-6.col-xs-6
              a.services-item(href='/uslugi/pediatriya.html')
                span.services-item__icon
                  i.icon.icon-mainservices7
                span.services-item__text Педиатрия
            .col-md-4.col-sm-6.col-xs-6
              a.services-item(href='/uslugi/ultrazvukovaya-diagnostika.html')
                span.services-item__icon
                  i.icon.icon-mainservices2
                span.services-item__text Ультразвуковая диагностика
      section.section.team
        .container
          h1(style='margin-bottom:20px;')
            span(style='font-size: 18px; font-weight: normal; text-align: center;')
              | Медицинский центр «Примула» — многопрофильный, частный медицинский центр в Красноярске
          h2
            span Наши специалисты
          h5 Профессионализм и опыт приоритетны для нас в выборе персонала
          .team-slider.slider
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/dranishnikova-tatyana-vyacheslavovna.html') Дранишникова Татьяна Вячеславовна
              .team-item__post Главный врач, врач-дерматовенеролог
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/598/team_2.jpg&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/myakisheva-lyudmila-gennadevna.html') Мякишева Людмила Геннадьевна
              .team-item__post
                | Директор, 
                a(href='/uslugi/akusherstvo-i-ginekologiya.html', title='Запись к гинекологу') врач-акушер-гинеколог
                | , 
                a(href='/uslugi/ultrazvukovaya-diagnostika.html', title='УЗИ в Красноярске') врач-УЗД
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/c3b/suchev.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/sychev-aleksey-valerevich.html') Сычев Алексей Валерьевич
              .team-item__post
                a(href='/uslugi/onkologiya-i-mammologiya.html', title='Прием онколога') Врач-онколог
                | , 
                a(href='/uslugi/akusherstvo-i-ginekologiya.html', title='Запись к гинекологу') акушер-гинеколог
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/9ae/%D0%9A%D1%83%D1%8E%D0%BA%D0%BE%D0%B2%D0%B0%20%D0%A2.%D0%A1.%20%D0%B2%D1%80%D0%B0%D1%87%20%D0%B0%D0%BA%D1%83%D1%88%D0%B5%D1%80-%D0%B3%D0%B8%D0%BD%D0%B5%D0%BA%D0%BE%D0%BB%D0%BE%D0%B3.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/kuyukova-tatyana-sergeevna.html') Куюкова Татьяна Сергеевна
              .team-item__post
                a(href='/uslugi/akusherstvo-i-ginekologiya.html', title='Записаться на прием к гинекологу') Врач-акушер-гинеколог
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/7e4/avdeenko.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/avdeenko-maksim-viktorovich.html') Авдеенко Максим Викторович
              .team-item__post
                a(href='/uslugi/onkologiya-i-mammologiya.html', title='Прием онколога') Врач-онколог
                | , к.м.н.,
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/e98/bril.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/bril-marina-yurevna.html') Бриль Марина Юрьевна
              .team-item__post
                a(href='/uslugi/terapiya-i-gastroenterologiya.html', title='Консультация гастроэнтеролога') Врач-терапевт-гастроэнтеролог
                | , кардиолог
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/4ff/getc.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/getts-anastasiya-aleksandrovna.html') Гетц Анастасия Александровна
              .team-item__post
                | Врач-
                a(href='/uslugi/ultrazvukovaya-diagnostika.html', title='Ультразвуковая диагностика (УЗИ) в Красноярске') УЗД
                | .
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/fa0/erahtin.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/erakhtin-pavel-evgenevich.html') Ерахтин Павел Евгеньевич
              .team-item__post
                a(href='/uslugi/serdechno-sosudistaya-khirurgiya.html', title='Консультация сердечно-сосудистого хирурга') Сердечно-сосудистый хирург
                | , врач-
                a(href='/uslugi/ultrazvukovaya-diagnostika.html', title='УЗИ в Красноярске') УЗД
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/d78/elina.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/elina-lyudmila-borisovna.html') Елина Людмила Борисовна
              .team-item__post
                a(href='/uslugi/endokrinologiya.html', title='Прием эндокринолога') Врач-эндокринолог
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/58c/%D0%9A%D1%83%D0%BD%D0%B3%D1%83%D1%80%D0%BE%D0%B2%D0%B0%D0%9E.%D0%94.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/kungurova-olga-dmitrievna.html') Кунгурова Ольга Дмитриевна
              .team-item__post
                | Врач-
                a(href='/uslugi/ultrazvukovaya-diagnostika.html', title='Ультразвуковая диагностика (УЗИ) в Красноярске') УЗД
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/3d3/tokarev.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/tokarev-andrey-vladimirovich.html') Токарев Андрей Владимирович
              .team-item__post
                a(href='/uslugi/serdechno-sosudistaya-khirurgiya.html', title='Консультация сердечно-сосудистого хирурга') Врач-сердечно-сосудистый хирург
                | , к.м.н.
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/b4e/%D0%9F%D1%80%D0%BE%D0%BD%D1%8C%D0%BA%D0%B8%D0%BD%D0%B0%20%D0%9D.%D0%A1.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/pronkina-natalya-sergeevna.html') Пронькина Наталья Сергеевна
              .team-item__post
                a(href='/uslugi/allergologiya-i-immunologiya.html', title='Аллерголог-иммунолог') Врач-аллерголог-иммунолог
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/a87/%D0%AE%D0%BD%D0%BA%D0%B5%D1%80%20%D0%90.%D0%98%20%D0%B2%D1%80%D0%B0%D1%87%20%D1%83%D1%80%D0%BE%D0%BB%D0%BE%D0%B3.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/yunker-aleksandr-iosifovich.html') Юнкер Александр Иосифович
              .team-item__post
                a(href='/uslugi/andrologiya-i-urologiya.html', title='Прием уролога') Врач-уролог
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/e1a/%D0%9B%D0%B0%D0%BB%D0%B5%D1%82%D0%B8%D0%BD%20%D0%94%D0%98%20%D0%B2%D1%80%D0%B0%D1%87%20%D1%83%D1%80%D0%BE%D0%BB%D0%BE%D0%B3.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/laletin-dmitriy-ivanovich.html') Лалетин Дмитрий Иванович
              .team-item__post
                a(href='/uslugi/andrologiya-i-urologiya.html', title='Прием уролога') Врач-уролог
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/9d9/Elizareva.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/elizareva-nataliya-aleksandrovna.html') Елизарьева Наталия Александровна
              .team-item__post Главная медицинская сестра
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/0b6/barylina.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/barulina-natalya-viktorovna.html') Барулина Наталья Викторовна
              .team-item__post Медицинская сестра
            .team-item
              .team-item__img
                img(src='https://primula.su/img.php/?src=/upload/iblock/3ce/%D0%95%D1%80%D0%BC%D0%B0%D0%BA%D0%BE%D0%B2%D0%B0%20%D0%9E.%D0%95.%20%D0%B0%D0%B4%D0%BC%D0%B8%D0%BD%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%82%D0%BE%D1%80.png&w=284&h=284', alt='')
              .team-item__name
                a(href='/doctors/ermakova-olga-evgenevna.html') Ермакова Ольга Евгеньевна
              .team-item__post Медицинская сестра, операционная медицинская сестра
      section.section.medcenter
        .container
          h2
            span Оцените медицинский центр сами
          .medcenter-wrap.row
            .col-md-4.col-sm-6
              a.medcenter-item(href='javascript:void(0);')
                span.medcenter-item__number 01
                span.medcenter-item__title Современное оборудование
                span.medcenter-item__text
                  | Ультразвуковая диагностика на УЗИ - сканере последнего поколения с программами для исследования любого органа.
            .col-md-4.col-sm-6
              a.medcenter-item(href='javascript:void(0);')
                span.medcenter-item__number 02
                span.medcenter-item__title
                  | Оказание услуг
                  br
                  | без медицинского полиса
                span.medcenter-item__text
                  | Документ
                  | обязательного медицинского страхования был утерян или еще не получен?
                  | Принимаем пациентов без него в рамках платных медицинских услуг.
            .col-md-4.col-sm-6
              a.medcenter-item(href='javascript:void(0);')
                span.medcenter-item__number 03
                span.medcenter-item__title Стационар одного дня
                span.medcenter-item__text
                  | Ультра современное оборудование, оптика, видеокамера, используемые ежедневно в практике врачей.
                  br
                  | Возможность уходить домой в этот же день, не меняя привычный образ жизни.
            .col-md-4.col-sm-6
              a.medcenter-item(href='javascript:void(0);')
                span.medcenter-item__number 04
                span.medcenter-item__title Никаких очередей
                span.medcenter-item__text
                  | Посещение врачей любой специализации производится исключительно по предварительной записи. Мы стремимся начинать приём строго в назначенное время.
            .col-md-4.col-sm-6
              a.medcenter-item(href='javascript:void(0);')
                span.medcenter-item__number 05
                span.medcenter-item__title Варикозная болезнь
                span.medcenter-item__text
                  | РЧА - радииочасточная абляция варикозных вен нижних конечностей. Проводится амбулаторно, пациент может вернуться к труду на следующий день. Индивидуальный подбор эластичных компрессионных медицинский изделий.
            .col-md-4.col-sm-6
              a.medcenter-item(href='javascript:void(0);')
                span.medcenter-item__number 06
                span.medcenter-item__title Эстетическая гинекология
                span.medcenter-item__text
                  | Интимная контурная пластика. Реконструктивная интимная хирургия. Восстановление девственной плевы.  Малоинвазивная перинеопластика и т.д.
      .consultation
        .container
          form.form.consultation-form.sendMessageForm(action='#')
            .consultation-form__subtitle
              br
              br
              | Остались вопросы?
            .consultation-form__title
              | Обратитесь на консультацию к специалисту
            .consultation-form__row
              input.form-field(type='text', required='', name='name', placeholder='Имя Фамилия Отчество')
              input.form-field.phoneMask(type='text', required='', name='phone', placeholder='Номер телефона')
              button.btn.btn-green__transparent(type='submit') Отправить
            .form-agreement
              input#agreement(type='checkbox')
              label(for='agreement')
                | согласен с 
                a(href='/politika-konfidentsialnosti/') Пользовательским соглашением
                | об обработке и передачи персональных данных
    footer.footer
      .container
        .footer-content
          .footer-contacts
            .footer-title Частный медицинский центр "ПРИМУЛА"
            .footer-address Красноярск, мкр-н Новая Покровка, ул. Чернышевского 63.
            .footer-phone
              .footer-phone-list
                .header-phone__item
                  strong
                    a(href='tel:73912068073') +7 (391) 206-80-73
                  |  /
                  a(href='tel:73912806078')  280-60-78
                .header-phone__item
                  a(href='tel:73912806079') +7 (391) 280-60-79
              .footer-phone__title - координатор по лечению варикоза
            a.footer-mail(href='mailto:info@primula.su') info@primula.su
          ul.footer-menu
            li
              a(href='/raspisanie/') Расписание клиники
            li
              a(href='/prays/') Наш прайс
            li
              a(href='/stati/') Статьи
            li
              a(href='/kontakty/') Контакты
            li
              a(href='/ogrn-litsenziya/') ОГРН, Лицензия
            li
              a(href='/nadzornye-organy/') Надзорные органы
            li
              a(href='/ustav/') Устав
            li
              a(href='/otzyvy/') Отзывы
            li
              a(href='/karta-sayta/') Карта сайта
            li
              a(href='/politika-konfidentsialnosti/')
                | Политика
                br
                | конфиденциальности
            li
              a(href='/pravila-okazaniya-meditsinskikh-uslug/')
                | Правила оказания
                br
                | медицинских услуг
          a.footer-up(href='javascript:void(0);')
            i.fa.fa-angle-up
        .footer-bottom
          .footer-copyright © 2019 ООО ЧМЦ "Примула"
          .footer-warning
            | Имеются противопоказания.
            br
            |  Необходима консультация специалиста.
          ul.footer-social
            li
              a(href='https://vk.com/public174510274')
                img(src='https://primula.su/local/templates/main/img/icon-social-vk.svg', alt='')
            li
              a(href='https://www.instagram.com/primula24/')
                img(src='https://primula.su/local/templates/main/img/icon-social-inst.svg', alt='')